<!DOCTYPE html>

<html>
    <head>
        <title>Visao Base</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         {{ include('componentes/menu.twig') }}
        {% block conteudo %}
       
        <div>Qualquer coisa aqui !!! texto ...<br>
            <br>
            <br>
            blz blz blz
        </div>
        {% endblock %}
        
        {%block rodape %}
            <script src="../../public/js/jquery-3.3.1.min.js" type="text/javascript"></script>
            <script src="../../public/js/funcoes.js" type="text/javascript"></script>
         {% endblock %}
        
    </body>
</html>
{# empty Twig template #}
